$accent-primary: #1a73e8;

$accent-secondary: #f1f3f4;

$accent-tertiary: #34a853;

$border-color: #eee;
$divider-color: #c7c7c7;

$text-primary: #eee;
$text-secondary: #d1d3d4;
$text-tertiary: #5f6368;

$row-heading-color: #f8f9fa;
$row-number-width: 50px;

$cell-width: 100px;
