{
  "rules": {
    "semi": "off",
    "object-curly-spacing": "off",
    "linebreak-style": ["error", "windows"],
  },
  "parser": "@babel/eslint-parser",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "google"
  ]
}