.app-bar {
  padding: 20px 0;
  box-shadow: 0px 20px 15px -11px rgba(0,0,0,0.1);
}

.app-bar__wrapper {
  display: flex;
  justify-content: space-between;
}

.app-bar__logo {
}


.app-bar__search {
}

